.hideElement {
	display: none;
}

.showElement > *{
	display: flex;
	justify-content: center;
}

.loginForm {
	display: flex;
	justify-content: center;
}

.mycenter > div {
	display: flex;
	justify-content: center;
}